html {
    scroll-behavior: smooth;
}

h1 {
    font-size: xx-large;
}

body {
    /* 
    COLOR PALLETE:
    #DEAA79
    #FFE6A9
    #B1C29E
    #659287 
    */
    width: 60%;
    margin-top: 2em;
    margin-left: 20%;
    background: #FFE6A9;

    font-family: "Inter", serif;
    font-size: large;

    color: #659287;
    align-content: center;

    margin-bottom: 4em;
}

bold {
    font-weight: bolder;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul li {
    margin: 0.5em 0em;
}

#socials {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 3em;
}

#socials a {
    margin: 1em;
}

#socials a img {
    width: 2em;
    height: 2em;
}

#socials a img:hover {
    opacity: 0.7;
}

#leafContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 15vh;
}

#leaf {
    width: 2em;
    height: 2em;
    transition: transform .7s ease-in-out;
}

#leaf:hover {
    transform: rotate(360deg);
    opacity: 0.7;
}

#textStart {
    padding-top: 5vh;
}

#map { 
    width: 100%; 
    height: 65vh;
    border-radius: 1em;
    margin-bottom: 10vh;
}

#buttonAddTree {
    margin-top: 0.4em;
    margin-bottom: 0.3em;
    padding: 0.2em 0.7em;
}

#tree-pupup-content-container div {
    font-size: small;
    margin-bottom: 0.3em;
}

#moreInfo {
    padding-top: 0.5em;
}

.textblock-container {
    background-color: #DEAA79;
    padding: 1.2em;
    border-radius: 1em;
    margin-bottom: 2em;
}

.textblock-container p, ul li {
    color:#FFFFFF;
    margin-top: 0;
}

.textblock-container :last-child {
    margin-bottom: 0;
}

.flex {
    display: flex;
}

.dialog {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 9999; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.leaflet-popup-content {
    margin-right: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.leaflet-popup-content h3 {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.leaflet-popup-content .no-top-margin {
    margin-top: 0;
}

.dialog-content {
    background-color: #FAFAFA;
    margin: 10em auto; /* 10em from the top and centered */
    padding: 1.5em;
    width: 60%;
    border-radius: 1em;
}

.dialog-content-small {
    width: 40%;
}

.dialog-content-big {
    width: 60%;
}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-container label {
    margin-bottom: 0.3em;
    margin-left: 0.4em;
    font-weight: bold;
}

.dialog-title {
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
}

.form-container select {
    display: flex;
    flex-direction: row;
}

.form-container input, .form-container select {
    /* width: 100%; */
    padding: 0.5em;
    margin-bottom: 1em;
    border-radius: 0.5em;
    border: none;
    font-size: medium;
}

.dialog-button {
    appearance: none;
    background-color: #659287;
    border: 1px solid rgba(27, 31, 35, .15);
    border-radius: 0.5em;
    box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    /* font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji"; */
    font-size: large;
    font-weight: 600;
    padding: 0.4em 1em;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
}

.dialog-button:focus:not(:focus-visible):not(.focus-visible) {
    box-shadow: none;
    outline: none;
}

.dialog-button:hover {
    background-color: #7aa399;
}

.dialog-button:focus {
    box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
    outline: none;
}

.dialog-button:disabled {
    background-color: #94d3a2;
    border-color: rgba(27, 31, 35, .1);
    color: rgba(255, 255, 255, .8);
    cursor: default;
}

.dialog-button:active {
    background-color: #659287;
    box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}

.center {
    margin: 0px auto;
}

.form-container .dialog-button {
    margin-top: 0.3em
}

.leaflet-popup-content .dialog-button {
    margin-bottom: 0.2em;
    font-size: medium;
    padding: 0.3em 0.7em;
}

/* Responsive Design for Small Screens */
@media (max-width: 950px) {
    body {
        margin-top: 0.5em;
        width: 90%;
        margin-left: 5%;
    }

    .dialog-content-big {
        width: 80%; 
    }

    .dialog-content-small {
        width: 60%; 
    }
}

@media (max-width: 630px) {
    #map { 
        margin-bottom: 5vh;
    } 
}